.contenedor {
    width: 90%; /* Ajuste de ancho relativo */
    background-color: rgb(255, 252, 252);
    height: 40vh; /* Ajuste de altura relativa */
    margin: auto;
    padding: 5%; /* Ajuste de padding relativo */
    border-radius: 5vw; /* Ajuste de radio de borde relativo */
    box-shadow: 0 1vh 0 0 rgba(252, 249, 249, 0.2); /* Ajuste de sombra relativa */
    text-align: center; /* Centra el contenido del contenedor */
}

.text {
    width: 90%; /* Ajuste de ancho relativo */
    margin: auto;
    text-align: center;
}

.form-control {
    width: 90%; /* Ajuste de ancho relativo */
    margin-top: 2vh; /* Ajuste de margen superior relativo */
    margin: auto;
}

.btn {
    width: 90%; /* Ajuste de ancho relativo */
    margin-top: 2vh; /* Ajuste de margen superior relativo */
    margin-left: 5%; /* Ajuste de margen izquierdo relativo */
    margin-right: 5%; /* Ajuste de margen derecho relativo */
}

@media screen and (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .contenedor {
        width: 95%; /* Ajuste de ancho relativo para pantallas pequeñas */
        height: 30vh; /* Ajuste de altura relativa para pantallas pequeñas */
    }

    .form-control {
        width: 95%; /* Ajuste de ancho relativo para pantallas pequeñas */
    }

    .btn {
        width: 95%; /* Ajuste de ancho relativo para pantallas pequeñas */
    }
}