.tableros {
  display: flex;
}

.board {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
  }
  
  .row {
    display: flex;
    width: 100%;
  }
  
  .cell {
    width: 20%; 
    height: 100px;
    border: 1px solid black;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .barcos-rival {
    display: flex;
    flex-direction: column;
  }
  .barcos-restantes {
    display: flex;
    flex-direction: column;
  }
  .barcos-eliminados {
    display: flex;
    flex-direction: column;
  }
  .barcos {
    display: flex;
    text-align: right;
  }
  .barcos p{
    text-align: right;
  }