<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="barcos-restantes">
            <p>Tus barcos restantes</p>
            <div class="barcos">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
            </div>
        </div>
        <div class="barcos-rival">
            <p>Barcos del rival</p>
            <div class="barcos">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
            </div>
        </div>
        <div class="barcos-eliminados">
            <p>Barcos del rival eliminados</p>
            <div class="barcos">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
            </div>
        </div>
    </div>

    <div class="tableros">
        <div class="board">
            <div *ngFor="let row of board; let rowIndex = index" class="row">
              <div *ngFor="let cell of row; let colIndex = index" class="cell" [style.background-color]="cell || 'white'">
              </div>
            </div>
          </div>
    
          <div class="board">
            <div *ngFor="let row of oponentBoard; let rowIndex = index" class="row" >
                <div *ngFor="let cell of row; let colIndex = index" class="cell" [style.background-color]="cell || 'white'" (click)="sendBoardPosition(rowIndex, colIndex)">
                </div>
            </div>
          </div>
    </div>
</body>
</html>