<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
</head>
<body>
    <app-navbar [titulo]="'Estadisticas'"></app-navbar>
    <div class="container">
        

        <div class="estadistica">
            <div class="partidas">
                ganada
            </div>
            <div class="barcos">
                <p>10</p>
            </div>
            <div class="barcos">
                <p>0</p>
            </div>
            <div class="rival">
                <p>tu</p>
            </div>
        </div>
    </div>
</body>
</html>