<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Código</title>
    >
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="container mx-auto p-4">
        
        <div class="border-3  rounded-lg p-6 bg-white shadow-md">
            <div class="alert alert-success mt-2 w-1/2" role="alert" *ngIf="message">
            {{ message }}
        </div>
            <h1 class="text-center text-2xl font-semibold">Verifica tu código</h1>
            <div class="text-center">
                <h4 class="mt-2 text-lg">Registra el código de 6 dígitos que se envió a tu correo</h4>
            </div>
            <form class="text-center mt-6" (ngSubmit)="verificar()">
    <input type="text" placeholder="Ingrese el código: ######" name="codigo" id="codigo" class="border border-gray-300 rounded-lg py-2 px-4 w-1/2 mx-auto focus:outline-none focus:ring-2 focus:ring-blue-500 block" [(ngModel)]="codigo" required>
    
    <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg w-1/2 mx-auto mt-4 hover:bg-blue-400 transition duration-200 block">Verificar</button>
    
</form>

    <a href="/login" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg w-1/2 mx-auto mt-4 block text-center hover:bg-blue-400 transition duration-200">Regresar al Login</a>
    <div class="alert alert-warning mt-2 w-1/2 mx-auto" role="alert" *ngIf="errorMsg">
        {{ errorMsg }}
    </div>     
        </div>
    </div>

</body>
</html>
